p, a, h1, h2, h3, button{
  font-family: 'Open Sans', sans-serif;
}
p{
  margin-bottom: 0px;
}
a{
  color: white !important;
}
a:hover{
  color:white !important;
}
.row{
  width: 1200px;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
}
nav{
  min-height: 80px;
  background-color: #76c7c0;
}
nav .row{
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.img-logo{
  width: 200px;
  height: 33px;
}
nav .navbar-brand{
  padding-top: 0px;
  padding-bottom: 0px;
  }
nav .navbar-brand span{
  font-size: 25px;
  font-weight: normal;
}
.search-logo{
  width: 19px;
  height: 19px;
}
@media (min-width:992px){
  .navbar-collapse{
    position: relative;
  }
  .navbar{
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-nav{
    position: absolute;
    right: 0px;
    width: 770px;
  }
}
.nav-link{
  font-size: 13px;
}
.nav-item{
  margin-left: 12px;
  margin-top: 1px;
  padding-left: 8px;
  padding-right: 8px;
}
.nav-item-active{
  margin-left: 12px;
  margin-top: 1px;
  height: 33px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #62a29e;
  border-radius: 5px;
  border-bottom: 3px solid #528b86;
}
.nav-item:hover{
  margin-left: 12px;
  padding-left: 8px;
  padding-right: 8px;
  height: 33px;
  background-color: #62a29e;
  border-radius: 5px;
  border-bottom: 3px solid #528b86;
}
.dropdown-menu{
  top: 45px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  background-color: #e2534b;
}
.dropdown-item{
  margin-bottom: 5px;
  padding: 6px 9px;
  font-size: 13px;
  color: white;
  background-color: #e5655d;
  border-radius: 3px;
}
.dropdown-item:hover{
  margin-bottom: 5px;
  padding: 6px 9px;
  font-size: 13px;
  color: white;
  background-color: #76c7c0;
  border-radius: 3px;
}
.headline{
  height: 80px;
  background-color: #ececec;
}
.headline-title{
  float: left;
  line-height: 80px;
  font-size: 20px;
  color: #7f8c8c;
  padding-left: 10px;
}
.headline-link{
  float: right;
  line-height: 80px;
  font-size: 12px;
  color: #7f8c8c;
}
.headline .row{
  position: relative;
}
.arrow{
  position: absolute;
  bottom: -24px;
  left: 12px;
  width: 0px;
  height: 0px;
  border-top: 12px solid #ececec;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
section{
  background-color: #f3f3f3;
}
.section-text{
  font-size: 13px;
  color: #767676;
}
.section-title{
  color: #808c8c;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}
.carousel{
  position: relative;
}
.carousel-control-next{
  opacity:1;
  justify-content: flex-end;
}
 .carousel-control-prev{
  opacity:1;
  justify-content: flex-start;
}
.carousel-btn-prev{
  width: 50px;
  height: 60px;
  background-color: #e8635a;
  font-size: 50px;
  line-height: 50px;
  color: white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 4px solid #e2534b;
  border-radius: 0px 4px 4px 0px;
}
.carousel-btn-next{
  width: 50px;
  height: 60px;
  background-color: #e8635a;
  font-size: 50px;
  line-height: 50px;
  color: white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 4px solid #e2534b;
  border-radius: 4px 0px 0px 4px;
}
.carousel-indicators{
  position: absolute;
  bottom: -42px;
}
.carousel-indicators li{
  width: 60px;
  height: 5px;
  background-color: #b0b8ba;
  cursor: pointer;
}
.carousel-indicators .active{
  cursor: pointer;
  background-color: #e2534b;
}
.carousel-item{
  max-height: 500px;
}
.carousel-caption{
  bottom: 187px;
}
.carousel-heading{
  margin: auto;
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 50px;
  color: white;
  width: 346px;
  height: 50px;
  border-radius: 4px;
  background-color: #e2534b;
}
.carousel-text{
  margin-top: 100px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 35px;
  color: white;
  width: 470px;
  height: 71px;
  border-radius: 4px;
  background-color: #3f4646;
}
.intro{
  padding-top: 50px;
  background-color: #f3f3f3;
}
.intro-box{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
  width: 1170px;
  position: relative;
  background-color: #ececec;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 25px;
}
.intro-title{
  font-size: 30px;
  color: #808c8c;
  font-weight: bold;
}
.intro-box button{
  position: absolute;
  right: 0px;
  top:4px;
  width: 200px;
  height: 54px;
  background-color: #e8635a;
  font-size: 20px;
  color: white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 4px solid #e2534b;
  border-radius: 4px;
  cursor: pointer;
}
.service{
  background-color: #f3f3f3;
}
.service-item-like, .service-item-flag, .service-item-key, .service-item-bottle{
  position: relative;
  max-width: 270px;
  height: 314px;
  margin-bottom: 76px;
  background-color: #f8f8f8;
  padding-top: 45px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-bottom: 4px solid #e5e7e6;
  border-radius: 4px;
}
.service-item-like:hover, .service-item-flag:hover, .service-item-key:hover, .service-item-bottle:hover{
  position: relative;
  max-width: 270px;
  height: 314px;
  margin-bottom: 76px;
  background-color: white;
  padding-top: 45px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-bottom: 4px solid #e5e7e6;
  border-radius: 4px;
}
.service-btn{
  position: absolute;
  bottom: -27px;
  left: 35px;
  width: 200px;
  height: 54px;
  background-color: #76caca;
  font-size: 14px;
  color: white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 4px solid #63bdbd;
  border-radius: 4px;
  cursor: pointer;
}
.service-item-like:hover .service-btn{
  position: absolute;
  bottom: -27px;
  left: 35px;
  width: 200px;
  height: 54px;
  background-color: #e8635a;
  font-size: 14px;
  color: white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 4px solid #e2534b;
  border-radius: 4px;
  cursor: pointer;
}
.service-item-key:hover .service-btn{
  position: absolute;
  bottom: -27px;
  left: 35px;
  width: 200px;
  height: 54px;
  background-color: #e8635a;
  font-size: 14px;
  color: white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 4px solid #e2534b;
  border-radius: 4px;
  cursor: pointer;
}
.service-item-flag:hover .service-btn{
  position: absolute;
  bottom: -27px;
  left: 35px;
  width: 200px;
  height: 54px;
  background-color: #e8635a;
  font-size: 14px;
  color: white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 4px solid #e2534b;
  border-radius: 4px;
  cursor: pointer;
}
.service-item-bottle:hover .service-btn{
  position: absolute;
  bottom: -27px;
  left: 35px;
  width: 200px;
  height: 54px;
  background-color: #e8635a;
  font-size: 14px;
  color: white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 4px solid #e2534b;
  border-radius: 4px;
  cursor: pointer;
}
.service-item-like .service-img{
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../image/like_blue.png");
}
.service-item-key .service-img{
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../image/key_blue.png");
}
.service-item-flag .service-img{
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../image/flag_blue.png");
}
.service-item-bottle .service-img{
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../image/bottle_blue.png");
}
.service-item-like:hover .service-img{
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../image/like_red.png");
}
.service-item-key:hover .service-img{
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../image/key_red.png");
}
.service-item-flag:hover .service-img{
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../image/flag_red.png");
}
.service-item-bottle:hover .service-img{
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../image/bottle_red.png");
}
.service .section-title{
  margin-bottom: 20px;
}
.about-header{
  height: 400px;
  padding-top: 55px;
  background-color: #ececec;
  text-align: center;
}
.about-title-large{
  font-size: 40px;
  font-weight: bold;
  color: #e2524a;
}
.about .section-title{
  margin-bottom: 15px;
}
.text-detail .section-text{
  line-height: 22px;
}
.about-body{
  background-color: #f3f3f3;
}
.about-body .col-lg-3{
  position: relative;
  padding-top: 210px;
  padding-bottom: 55px;
}
.about-frame-left{
  padding: 41px 4px 4px;
  background-image: url("../image/frame-small.png");
  width: 370px;
  height: 260px;
  position: absolute;
  top:-144px;
  left: 15px;
  z-index: 0;
}
.about-frame-right{
  padding: 41px 4px 4px;
  background-image: url("../image/frame-small.png");
  width: 370px;
  height: 260px;
  position: absolute;
  top:-144px;
  right: 15px;
  z-index: 0;
}
.client-say{
  font-size: 13px;
  font-style: italic;
  background-color: #f8f8f8;
  padding: 15px;
}
.client-name{
  font-size: 16px;
  font-weight: bolder;
  color: #777777;
}
.about-img-small{
  width: 362px;
  height: 215px;
  border-radius: 5px;
}
.about-body .col-lg-6{
  position: relative;
  padding-top: 210px;
}
.about-frame-center{
  padding: 44px 4px 3px;
  background-image: url("../image/frame-large.png");
  width: 570px;
  height: 360px;
  position: absolute;
  top: -204px;
  z-index: 1;

}
.about-img-large{
  width: 562px;
  height: 313px;;
  border-radius: 8px;
}
.about .about-text{
  line-height: 27px;
}
.percent{
  text-align: center;
  padding-top: 50px;
}
.percent-service{
  margin-left: 8px;
  margin-right: 8px;
  display: inline-block;
}
.percent-img{
  width: 120px;
  height: 60px;
  display: inline-block;
}
.client{
  background-color:#f3f3f3;
  padding-bottom: 50px;
}
.client hr{
  margin-top: 20px;
}
.client .col-lg-1{
  padding-left: 0px;
  padding-right: 0px;
}
.slider-btn {
  width: 40px;
  height: 40px;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  background-color: #99a3a4;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px solid #808c8c;
  border-radius: 5px;
  cursor: pointer;
}
.slider-btn:hover {
  width: 40px;
  height: 40px;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  background-color: #e2534b;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px solid #e2534b;
  border-radius: 5px;
}
.slider-img{
  width: 170px;
  height: 90px;
  margin-top: 40px;
  border-radius: 4px;
}
.footer-main{
  background-color: #76c7c0;
  padding-top: 40px;
  padding-bottom: 45px;
}
.footer-bottom{
  background-color: #6ab3ac;
}
.footer-text{
  font-size: 13px;
  color: white;
  line-height: 23px;
  display: block;
}
.footer-title{
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: bold;
  color: #4a7e7a;
}
.contact{
  margin-top: 25px;
}
.info-text{
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: white;
}
.blog-item{
  margin-top: 20px;
}
.img-blog{
  width: 70px;
  height: 70px;
  border-radius: 4px;
  float: left;
  margin-right: 18px;
}
.blog-title{
  font-size: 20px;
  font-style: italic;
  color: white;
}
.blog-title span{
  font-size: 20px;
font-weight: bold;
font-style: normal;
  color: white;
}
.date-text{
  font-size: 13px;
  color: #498480;
}
.footer-bottom{
  height: 50px;
}
.website-name-text{
  font-size: 12px;
  color: white;
  line-height: 50px;
}
.social{
  float: right;
}
.social-logo{
  width: 22px;
  height: 22px;
  margin: 14px;
}

/* style for service page */
.intro-service{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f3f3f3;
}
.service-detail{
  background-color: #f3f3f3;
  padding-bottom: 60px;
}
.service-detail .percent{
  padding-top: 80px;
}
.service-title{
  font-size: 30px;
  color: #e1524b;
  font-weight: bold;
}
.service-text{
  font-size: 14px;
  color: #7f8c8c;
}
.pricing-main{
  padding-top: 50px;
  background-color: #ececec;
  height: 400px;
}
.pricing-title{
  font-size: 40px;
  color: #7f8c8c;
  font-weight: bold;
  text-align: center;
  margin-bottom: 70px;
}
.pricing-item{
  position: relative;
  max-width: 270px;
  height: 314px;
  margin-bottom: 76px;
  background-color: #f8f8f8;
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-bottom: 4px solid #e5e7e6;
  border-radius: 5px;
}
.pricing-btn-heading{
  position: absolute;
  top: -27px;
  left: 35px;
  width: 200px;
  height: 54px;
  background-color: #7f8c8c;
  font-size: 14px;
  color: white;
  border: 0px;
  border-radius: 4px;
}
.pricing-btn-buy{
  position: absolute;
  bottom: -27px;
  left: 35px;
  width: 200px;
  height: 54px;
  background-color: #7f8c8c;
  font-size: 14px;
  color: white;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
.pricing-item:hover{
  position: relative;
  max-width: 270px;
  height: 314px;
  margin-bottom: 76px;
  background-color: #76c7c0;
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-bottom: 4px solid #e5e7e6;
  border-radius: 5px;
}
.pricing-item:hover .pricing-btn-heading{
  position: absolute;
  top: -27px;
  left: 35px;
  width: 200px;
  height: 54px;
  background-color: #e2534b;
  font-size: 14px;
  color: white;
  border: 0px;
  border-radius: 4px;
}
.pricing-item:hover .pricing-btn-buy{
  position: absolute;
  bottom: -27px;
  left: 35px;
  width: 200px;
  height: 54px;
  background-color: #e2534b;
  font-size: 14px;
  color: white;
  border: 0px;
  border-radius: 4px;
}
.pricing-item p{
  font-size: 14px;
  color: #777777;
}
.pricing-item:hover p{
  font-size: 14px;
  color: white;
}
.pricing-bottom{
  padding-top: 200px;
  padding-bottom: 50px;
  background-color: #f3f3f3;
  text-align: center;
}
.slogan{
  font-size: 40px;
  color: #e1524b;
}

/* style for portfolio page */
.navigation{
  height: 110px;
  padding-top: 40px;
  background-color: #f3f3f3;
}
.portfolio-btn{
  height: 33px;
  margin-right: 16px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #98a3a3;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  border: 0px;
  border-bottom: 3px solid #7f8c8c;
}
.portfolio-btn-active{
  height: 33px;
  margin-right: 16px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #62a29e;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  border: 0px;
  border-bottom: 3px solid #528b86;
}
.portfolio-btn:hover, .portfolio-btn-active:hover{
  height: 33px;
  margin-right: 16px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #e8645a;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  border: 0px;
  border-bottom: 3px solid #e2534b;
  cursor: pointer;
}
.portfolio{
  background-color: #f3f3f3;
}
.portfolio-item{
  width: 570px;
  height: 273px;
  border-bottom: 3px solid #e5e6e6;
  border-radius: 5px;
  position: relative;
  margin-bottom: 37px;
}
.portfolio-img{
  width: 570px;
  height: 270px;
  border-radius: 5px;
}
.portfolio-popup{
  display: none;
}
.portfolio-item:hover .portfolio-popup{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 570px;
  height: 270px;
  background-color: #83ccc5;
  display: block;
  border-radius: 5px;
  text-align: center;
  padding-top: 110px;
}
.portfolio-item-btn{
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 4px;
  background-color: #76b7b1;
  border: 0px;
}
.portfolio-item-btn:hover{
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 4px;
  background-color: #e2534b;
  border: 0px;
  cursor: pointer;
}
.portfolio-title{
  font-size: 16px;
  color: white;
  margin-top: 50px;
}
.pagination{
  text-align: center;
  display: block;
  padding-top: 26px;
  padding-bottom: 66px;
  background-color: #f3f3f3;
}
.pagination-left{
  text-align: left;
  display: block;
  padding-left: 15px;
  padding-top: 26px;
  padding-bottom: 66px;
  background-color: #f3f3f3;
}
.pagination-btn{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 0px;
  border-bottom: 3px solid #7f8c8c;
  background-color: #8c9898;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin: 4px;
}
.pagination-btn-active{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 0px;
  border-bottom: 3px solid #528b86;
  background-color: #649792;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin: 4px;
}
.pagination-btn:hover, .pagination-btn-active:hover{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 0px;
  border-bottom: 3px solid #e2534b;
  background-color: #e5655d;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin: 4px;
  cursor: pointer;
}

/* style for contact page */
.map{
  width: 100%;
  height: 403px;
  margin-top: 50px;
  margin-bottom: 58px;
  border-bottom: 3px solid #e5e6e6;
  border-radius: 5px;
}
.map-info{
  font-size: 13px;
  color: #777777;
  background-color: #ececec;
  padding: 26px 20px;
  margin-bottom: 55px;
}
.form-title{
  margin-bottom: 50px;
  font-size: 20px;
  color: #7f8c8c;
}
.address-title{
  margin-bottom: 50px;
  font-size: 20px;
  color: #7f8c8c;
}
.contact-form{
  margin-bottom: 235px;
}
.input-text{
  width: 470px;
  height: 40px;
  border-radius: 6px;
  border-top: 2px solid #d9dada;
  border-left: 3px solid #d9dada;
  border-right: 0px;
  border-bottom: 0px;
  background-color: #e5e6e6;
  margin-bottom: 20px;
}
.input-textarea{
  width: 770px;
  height: 240px;
  border-radius: 6px;
  border-top: 2px solid #d9dada;
  border-left: 3px solid #d9dada;
  border-right: 0px;
  border-bottom: 0px;
  background-color: #e5e6e6;
  margin-bottom: 30px;
}
.input-submit{
    width: 200px;
    height: 54px;
    background-color: #e8635a;
    font-size: 20px;
    color: white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 4px solid #e2534b;
    border-radius: 4px;
    cursor: pointer;
}
label{
  font-size: 18px;
  color: #7f8c8c;
  padding-left: 27px;
}
.phone-number{
  margin-top: 25px;
  font-size: 16px;
  color: #777777;
}
.email{
  font-size: 16px;
  color: #e2534b;
  text-decoration: underline;
}
.location-img{
  width: 25px;
  height: 35px;
  float: left;
}
.address{
  padding-left: 35px;
  padding-right: 50px;
  font-size: 14px;
  color: #777777;
  line-height: 18px;
}
/* style for blog page */
.post{
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  border-bottom: 3px solid #e5e6e6;
}
.post:first-of-type{
  padding-top: 110px;
  padding-bottom: 45px;
  display: flex;
  border-bottom: 3px solid #e5e6e6;
}
.post-heading{
  width: 70px;
  float: left;
  margin-right: 30px;
}
.post-date{
  width: 70px;
  height: 83px;
  border-bottom: 3px solid #e5e6e6;
  border-radius: 5px;
  background-color: #f8f8f8;
  text-align: center;
}
.post-month{
  font-size: 20px;
  color: #7f8c8c;
  padding-top: 8px;
}
.post-day{
  font-size: 30px;
  font-weight: bold;
  color: #7f8c8c;
}
.post-type{
  margin-top: 17px;
  width: 70px;
  height: 73px;
  border-bottom: 3px solid #e5e6e6;
  border-radius: 5px;
  background-color: #7f8c8c;
}
.post-content{
  width: 770px;
  float: left;
}
.post-link{
  font-size: 14px;
  color: #e2534b;
}
.post-img{
  width: 770px;
  height: 303px;
  border-radius: 5px;
  border-bottom: 3px solid #e5e6e6;
}
.post-title{
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 24px;
  color: #76c7c0;
}
.post-describle{
  font-size: 14px;
  color: #7f8c8c;
}
.post-text{
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #7f8c8c;
}
.post-text-italic{
  padding-top: 30px;
  font-style: italic;
  font-size: 14px;
  color: #7f8c8c;
}
.post-content .carousel-inner{
  height: 463px;
  border-radius: 5px;
  border-bottom: 3px solid #e5e6e6;
}
aside{
  padding-top: 75px;
}
aside .section-title{
  padding-top: 20px;
  padding-bottom: 15px;
}
.link-group{
}
.link-group .post-link{
  line-height: 30px;
}
.recent-post{
  padding-right: 20px;
}
.recent-post img{
  float: left;
  margin-bottom: 20px;
}
.recent-post-date{
  font-size: 12px;
  color: #7f8c8c;
  padding-left: 40px;
}
.tag-button{
  margin-bottom: 10px;
  padding: 2px 12px;
  background-color: #7f8c8c;
  font-size: 14px;
  color: white;
  border: 0px;
  border-radius: 5px;
}
.tag-button:hover{
  margin-bottom: 10px;
  padding: 2px 12px;
  background-color: #e2534b;
  font-size: 14px;
  color: white;
  border: 0px;
  border-radius: 5px;
}
